<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="AdminAuth" asp-action="AddNewStudent">AddNewStudent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="AdminAuth" asp-action="GetAllStudent">GetAllStudent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="AdminAuth" asp-action="UpdateStudent">UpdateStudent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="AdminAuth" asp-action="SortStudent">SortStudent</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="AdminAuth" asp-action="SearchStudent">SearchStudent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="AdminAuth" asp-action="deleteStudent">deleteStudent</a>
        </li>
       
    </ul>
</div>
<h1>After login</h1>

