<form action="/Studnet/StudentLogin" method="post">
    Username:<input type="text" name="username" id="username"></input><br></br>
    Password:<input type="number" name="password" id="password"></input><br></br>
    <button>Submit</button>
</form>