@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="Update" method="post">
    Id: <input type="text" name="id" /></br>
    Name:<input type="text" name="name" /></br>
    Email:<input type="text" name="email" /></br>
    Mobile no:<input type="text" name="mobno" /></br>
    Address:<input type="text" name="address" /></br>
    Admission Date:<input type="text" name="admdate" /></br>
    Fees:<input type="text" name="fees" /></br>
    Status:<input type="text" name="status" /></br>
    <input type="submit" value="Update Student" /></br>

</form>
