<form action="/AdminAuth/AddNewStudent" method="post">
    
    Student ID:<input type="number" name="std_id" id="std_id"></input><br></br>
    Student Name:<input type="text" name="std_name" id="std_name"></input><br></br>
    Studnet Email:<input type="text" name="std_email" id="std_email"></input><br></br>
    Student Phone:<input type="number" name="std_phone" id="std_phone"></input><br></br>
    Student Address:<input type="text" name="std_Address" id="std_Address"></input><br></br>
    Studnet AdmissionDate:<input type="date" name="std_admissiondate" id="std_admissiondate"></input><br></br>
    Student Fees:<input type="number" name="std_fees" id="std_fees"></input><br></br>
    Student Status:<input type="text" name="std_status" id="std_status"></input><br></br>

    <button>Submit</button>
</form>


